<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MeliProxy Dashboard{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascript_head %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="skin-blue sidebar-mini">
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
