<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU</li>
        <li {% if menu_dashboard is defined and menu_dashboard %}class="active"{% endif %}>
            <a href="{{ path('homepage') }}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li {% if menu_quota is defined and menu_quota %}class="active"{% endif %}>
            <a href="{{ path('quota_index') }}">
                <i class="fa fa-cogs"></i> <span>Quotas</span>
            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->